header{
  float: left;
  clear: both;
}

h1{
  float: left;
  left: 50%;
}

#bod{
  float: left;
  clear: both;
  height: auto;
}

#chooseIRPS{

}

#chooseIRPS li{
  float: left;
  padding: 10px;
  height: 50px;
  width: 50px;
}