  body{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

h1{
  color: #111; 
  font-size: 40px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center; 
  float: left;
  clear: both;
}

.title{
  width: 100%;
  height: 50px;
  padding: 10px;
}

#bod{
  width: 100%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.chooseIRPS{
  width: 100%;
  float: left;
}

#sec1{
  margin-left: 20px;
  margin-bottom: 10px;
}

#sec2{
  margin-left: 35px;
}

#chooseIRPSForm{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.chooseIRPS li{
  float: left;
}

.cent{
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0;
}

.botones{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}

.but1{ background-color: #588AC7;}
.but2{ background-color: #7EA2D6;}
.but3{ background-color: #9FB8E0;}
.but4{ background-color: #C2D2EB;}
.but5{ background-color: #F2E8E6;}
.but6{ background-color: #D6BCAF;}
.but7{ background-color: #BC9279;}
.but8{ background-color: #9E6844;}
.but9{ background-color: #84401D; color: white;}
.but10{ background-color: #691417; color: white;}
.but11{ background-color: #371011; color: white;}