body{
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    color: #272635;
    position: fixed;
    background-color: white;
    text-align: center;
}

header{
    position: fixed;
    background-color: cornflowerblue;
    width: 100%;
    height: 15%;
    text-align: center;
    float: left;
}


h1{
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.reg{
    position: static;
}


#start{
    position: inherit;
    width: 100%;
    height: 84.99%;
    bottom: 0;
}

#wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 85%;
}

form, #forTables, #center{
    width: 100%;
    height: auto;
    padding: 0px;
    float: left;
    clear: both;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);*/
}

.inp{
    position: relative;
    width: 90%;
    height: 40px;
    padding: 10px 10px;
    margin: 5px 0px;
    background-color: transparent;
    border: 1px solid #898E92;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.lowButt, .lowButt2, .lowButt3{
    background-color: #47525E;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    padding: 10px;
    border-radius: 10%;
    color: white;
}

.lowButt:hover, .lowButt2:hover{
    opacity: 0.7;
}

.lowButt2{
    bottom: 3%;
}

#button{
    background-color: #47525E;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border-color: #47525E;
    border-radius: 9px;
    height: 50px;
    width: 101%;
    color: white;
    margin-top: 10%;
}

#button:hover{
    background: transparent;
    color: #a0a0a0;
    /*box-shadow: inset 0 0 0 3px #eaeaea;*/
}

#backArrow{
    height: 25%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.reg-error{
    margin-top: 25px;
    text-align: center;
    color: darkred;
    font-size: 20px;
}

#crear{
    background-color: #47525E;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border-color: #47525E;
    border-radius: 9px;
    height: 50px;
    width: 101%;
    color: white;
    margin-top: 95%;
}
.centrardiv{
	width: 50%;
	height: 300px;
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.fakeButton{
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .centrardiv{width: 70%;}
}