
body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
    color: #272635;
    position: relative;
    height: 200px;
    background-color: white;
}

header{
    background-color: green;
    height: 100px;
    /*text-align: center;*/
}

h1{
    position: absolute;
    font-size: 20px;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);

}


.reg{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 75%;
}


.centrardiv {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 120%;
}


#datos{
    width: auto;
}

form{
    position: relative;
    width: 250px;
    right: 8%;
}

.inp{
    width: 100%;
    padding: 12px 20px;
    margin: 10px 10px;
    background-color: transparent;
    border: 1px solid #898E92;
    border-radius: 5px;
    color: black;
}


.login{
    margin-top: 5px;
    position: absolute;
    right: 4.5%;
    top: 105%;
}

/*.logtxt{
    position: absolute;
    top: 140%;
    width: 250px;
    right: 5.5%;
}

.logtxt p {
    font-weight: 300;
    font-size: 10px;
    text-align: center;
    margin-top: 10px;
    color: #47525E;
}

.logtxt a{
    text-decoration: none;
}*/

#button{
    background-color: #47525E;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    border-color: #a0a0a0;
    border-radius: 9px;
    height: 50px;
    width: 250px;
    color: white;
}

#button:hover{
	background: transparent;
	color: #a0a0a0;
	box-shadow: inset 0 0 0 3px #eaeaea;
}